@font-face {
  font-family: 'oii-icons';
  src:  url('fonts/oii-icons.eot?uecwb8');
  src:  url('fonts/oii-icons.eot?uecwb8#iefix') format('embedded-opentype'),
    url('fonts/oii-icons.ttf?uecwb8') format('truetype'),
    url('fonts/oii-icons.woff?uecwb8') format('woff'),
    url('fonts/oii-icons.svg?uecwb8#oii-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="oii-icon-"], [class*=" oii-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oii-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oii-icon-oii-collapse .path1:before {
  content: "\e900";
  color: rgb(0, 151, 169);
}
.oii-icon-oii-collapse .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oii-icon-oii-expand .path1:before {
  content: "\e902";
  color: rgb(0, 151, 169);
}
.oii-icon-oii-expand .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.oii-icon-oii-expand .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

